@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400|Raleway:700');
@font-face {
  font-family: "Ionicons";
  src: url("fonts/ionicons.eot?v=2.0.0");
  src: url("fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("fonts/ionicons.woff?v=2.0.0") format("woff"), url("fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-face-lt: 'Lato', Arial, sans-serif;
$font-face-rl: 'Raleway', Arial, sans-serif;
$top-color: #222222;
//общий шрифт
//body {
//  font: 300 14px/1.5 'Lato', Arial, sans-serif;
//  color: #000;;
//}
//general font
//header
.header {
  background: #02496a url("img/HERO-bg.jpg") center center no-repeat;
  height:850px;
  width: 100%;
  background-size: cover;
  padding-top: 50px;
  position: relative;
}
.header-container {
  width:70%;
  height:20px;
  margin: 0 auto;
  max-width: 1110px;
  //position: relative;
}
.logo {
  float: left;
}
.menu-full {
  float: right;
  margin: 0;
  li {
    display: inline-block;
    padding-left: 45px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-face-lt;
    color: #fffffe;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    &:hover {
      text-decoration:underline;
    }

  }
}
.header__title1 {
  font-family: $font-face-rl;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  width:600px;
  margin: 237px auto 0;
  text-transform: uppercase;

  &:after{
    content:'';
    background: #ffffff;
    width: 90px;
    height:2px;
    display: block;
    margin: 40px auto;
  }
}
.header__title2 {
  font-family: $font-face-lt;
  color: #fffefe;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width:600px;
  margin: auto;
}
.slider {
  //position: absolute;
  display: block;
  margin:251px auto 0;
  padding-bottom: 46px;
  width:95px;
  height:95px;
}

.services {
  max-width:1170px;
  font-size: 0;
  background: #ffffff;
  padding-top: 70px;
  margin: auto;
}
.services__item {
  width:33.3%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 110px;
}
.services__title {
  text-align: center;
  font-family: $font-face-rl;
  color: #222222;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  &:after{
    content:'';
    background: $top-color;
    width: 90px;
    height:2px;
    display: block;
    margin: 58px auto 80px
  }

}
.services-txt1 {
  display: block;
  font-family: $font-face-lt;
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 40px 0;



}
.services-txt2 {
  display: block;
  font-family: $font-face-lt;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

}
.services__img1 {
  background: url("img/apple.svg") center center no-repeat;
  height: 145px;
  width: 100%;
}
.services__img2 {
  background: url("img/resp.svg") center center no-repeat;
  height: 145px;
  width: 100%;
}
.services__img3 {
  background: url("img/pixel.svg") center center no-repeat;
  height: 145px;
  width: 100%;
}
.content-container {
  background: #454545 url("img/bg2.png") no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}
.content {
    max-width:1170px;
    font-size: 0;
    margin: auto;
  padding-top: 165px;
}
.content__txt1 {
  display: block;
  font-family: $font-face-lt;
  color: #ffffff;
  font-size: 44px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  }
.content__txt2 {
  width:50%;
  display: block;
  font-family: $font-face-lt;
  color: #ffffff;
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 65px;
}
.content__link {
  font-family: $font-face-lt;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.work {
  max-width:1170px;
  font-size: 0;
  background: #ffffff;
  margin: auto;
  padding-top: 70px;
}
.work__item {
  width:33.3%;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
  position: relative;
  &:hover .work__item--hover {
    display: flex;
  }

}
.work__item--hover {
  text-decoration: none;
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  display: none;
  flex-direction:column;
  align-content: center;
  background: rgba(0, 0, 0, 0.75);
}
.hover__txt {
  font-family: $font-face-lt;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}
.work__title {
  text-align: center;
  font-family: $font-face-rl;
  color: #222222;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  &:after {
    content: '';
    background: $top-color;
    width: 90px;
    height: 2px;
    display: block;
    margin: 58px auto 80px
  }
}
.img-grid {
  width: 100%;
}
.btn-more {
  border-width: 3px;
  border-color: #222222;
  border-style: solid;
  width: 364px;
  height: 54px;
    background: none;
  display: block;
  margin: 80px auto;
}
.btn-more__link {
  font-family: $font-face-lt;
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.footer {
  background: #454545 url("img/ft-bg.png") no-repeat;
  background-size: cover;
  height: 802px;
}
.social {
  font-size: 0;
  width: 230px;
  margin: 0 auto 70px;
  & :last-child {
    margin-right:0;
  }
}
.social__item {
  display: inline-block;
  margin-right: 20px;
  & a {
    display: inline-block;
  }
}
.social__tv {
  background: url("img/tv.svg")  no-repeat center;
  height:25px;
  width:25px;
}.social__fb {
  background: url("img/fb.svg")  no-repeat center;
  height:25px;
  width:25px;
}.social__in {
  background: url("img/in.svg")  no-repeat center;
  height:25px;
  width:25px;
}.social__v {
  background: url("img/v.svg")  no-repeat center;
  height:25px;
  width:25px;
}.social__be {
  background: url("img/be.svg")  no-repeat center;
  height:25px;
  width:25px;
}
.get-in__title {
  text-align: center;
  font-family: $font-face-rl;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  padding-top: 110px;
  &:after {
    content: '';
    background: #ffffff;
    width: 90px;
    height: 2px;
    display: block;
    margin: 58px auto 80px
  }
}

.form {
  max-width: 670px;
  margin: auto;

}
.info {
  font-size: 0;
  & :first-child {
    margin-right:4%;
  }
}
.name, .email {
  display: inline-block;
  border-bottom: 2px solid #afafaf;
  width:48%;
  box-sizing: border-box;
  font-family: $font-face-lt;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  font-style: italic;
  & input {
    background: none;
    border: none;


  }
}
.message {
  margin-top: 100px;
  border-bottom: 2px solid #afafaf;
  width:100%;
  box-sizing: border-box;
  font-family: $font-face-lt;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  //line-height: 40px;
  text-align: left;
  font-style: italic;
  & textarea {
    background: none;
    border: none;
  resize: none;
  }
}
.btn {
  border-width: 3px;
  border-color: #ffffff;
  border-style: solid;
  width: 177px;
  height: 54px;
  margin: 50px auto 0;
  display: block;
  background: none;
  font-family: $font-face-lt;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  //line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
//.menu-mini__menu
//header
